<center>
    <img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/Logos/organization_logo/organization_logo.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

# My Jupyter Notebook on IBM Watson Studio

**Joshua Hill**

I am a Research Scientist

*I would like to learn more about data science to further my career in genomics.  I am currently a lab amnager in a DNA sequencing facility and would like to use data science to help refine some of more tricky items in our process.*

### My code is simple.  I am assigning a variable then printing the output of that variable

In [6]:
adds = 2 + 2
print("Two plus 2 equals ", adds)

Two plus 2 equals  4

This is a numbered list of 3 items
1. apples
2. pears
3. oranges

This is a bullet list of 4 items
* banana
* mango
* peach
* kiwi

A simple table

| Fruit | Qty | Price |
|-------|------|-------|
| apple | 5 | 1 |
| pear | 3 | 3 |
| kiwi | 12 | 50 |